 <!-- Navbar -->
 <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" >
      <img src="assets/images/logo.jpg" height="25" alt="Teena Pamecha Web Logo" loading="lazy" />
    </a>
    <!-- Search form -->
    <form class="d-none d-md-flex input-group w-auto my-auto">
      <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search'
        style="min-width: 225px;" />
      <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
    </form>

    <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <!-- Notification dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"  id="navbarDropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" >Some news</a></li>
          <li><a class="dropdown-item" >Another news</a></li>
          <li>
            <a class="dropdown-item" >Something else here</a>
          </li>
        </ul>
      </li>

      <!-- Icon -->
      <li class="nav-item">
        <a class="nav-link me-3 me-lg-0" >
          <i class="fas fa-fill-drip"></i>
        </a>
      </li>
      <!-- Icon -->
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" >
          <i class="fab fa-github"></i>
        </a>
      </li>

      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
            alt="Avatar" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileMenu">
          <li routerLink="/user/profile"><a class="dropdown-item">My profile</a></li>
          <li routerLink="/settings"><a class="dropdown-item">Settings</a></li>
          <li (click)="logout()"><a class="dropdown-item">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->